<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
        <dict>
            <key>图标一</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>1024</string>
                    <string>0058</string>
                    <string>0080-1</string>
                    <string>0076</string>
                    <string>0167</string>
                    <string>0058-1</string>
                    <string>0120-1</string>
                    <string>0029</string>
                    <string>0152</string>
                    <string>0180</string>
                    <string>0087</string>
                    <string>0080</string>
                    <string>0120</string>
                    <string>0040</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>图标二</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>二icon</string>
                    <string>二Icon-76</string>
                    <string>二Icon-60</string>
                    <string>二Icon-83.5</string>
                    <string>二Icon-Small</string>
                    <string>二Icon-Small-1</string>
                    <string>二Icon-Small-40</string>
                    <string>二Icon-Notification</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>图标三</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>三Icon-76</string>
                    <string>三Icon-60</string>
                    <string>三Icon-Small</string>
                    <string>三Icon-Notification-20</string>
                    <string>三Icon-Spotlight-40</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string></string>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
</dict>
</plist>
